<!DOCTYPE html>
<html>
	<head>
	<title>홈화면</title>
	</head>
	<body>
		<div class="container">
			<h1>쇼핑몰 홈</h1>
			<br>
			<p>로그인하세요</p>
			<p>계정이 없으시면 회원가입하세요</p>
			<br>
			<a href="/login">로그인</a>
			<a href="/signup">회원가입</a>
		</div>
	</body>
</html>